*{
  box-sizing: border-box;
}

.Masthead{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.Masthead img{
  width: 100%;
}


.navbar{
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}

.Sidebar{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: green solid 1px;
  text-align: center;
  max-height: 80vh;
  overflow: hidden;
}

.sidebar-article{
  width: 100%;
  border: lawngreen solid 1px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.page{
  width: 86%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border: 1px red solid */
}

article{
  width: 90%;
  margin-left: 48px;
  margin-right: 16px;
  /* border: 1px pink solid; */
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.photo1-3-photo-layout{
  width: 100%;
  /* height: auto; */
  height: 360px;
  border: 10px purple solid;
  /* float: right; */
}

.photo2-3-photo-layout{
  width: 20%;
  /* height: auto; */
  height: 240px;
  border: 1px purple solid;
  float: left;
  margin-right: 16px;
}

.photo3-3-photo-layout{
  width: 30%;
  height: 180px;
  border: 1px purple solid;
  float: right;
}

.photo1-2-photo-layout{
  width: 100%;
  /* height: auto; */
  height: 360px;
  border: 10px purple solid;
  /* float: right; */
}

.photo2-2-photo-layout{
  width: 30%;
  height: 180px;
  border: 1px purple solid;
  float: right;
}

.photo1-1-photo-layout{
  width: 30%;
  height: 180px;
  border: 1px purple solid;
  float: right;
}

h2 {
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
}

.badgewrap{
  display: flex;
  align-content:center;
  justify-content: center;
}

.badge{
  margin-left: 8px;
  background-color:darkgray;
  align-self: center;
}

.page{
  max-height: 80vh;
  overflow-y: scroll;
}